<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    title -->
    <title>질문하기</title>
    <!--    jquery -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!--    material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    material components -->
    <link href="/node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="/node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <!--    highlight -->
    <link href="/node_modules/@highlightjs/cdn-assets/styles/default.min.css" rel="stylesheet">
    <script src="/node_modules/@highlightjs/cdn-assets/highlight.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/c.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/java.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/python.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/javascript.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/css.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/htmlbars.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/sql.min.js"></script>
    <script charset="UTF-8"
            src="/node_modules/@highlightjs/cdn-assets/languages/kotlin.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Quill -->
    <link href="/node_modules/quill/dist/quill.core.css" rel="stylesheet">
    <script src="/node_modules/quill/dist/quill.core.js"></script>
    <script src="/node_modules/quill/dist/quill.js"></script>
    <link href="/node_modules/quill/dist/quill.snow.css" rel="stylesheet">
    <link href="/node_modules/quill/dist/quill.bubble.css" rel="stylesheet">
    <!--    header and footer -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <script src="/javascripts/main.js"></script>

    <style>
        .main_contents {
            position: relative;
            display: block;
            width: 70%;
            left: 15%;
        }

        #edit_question_title {
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .edit-box {
            margin-top: 16px;
        }

        .edit-main-box {
            padding: 16px;
        }

        #edit_contents {
            min-height: 200px;
        }

        .fill-box {
            display: flex;
        }

        .fill-left {
            flex: 1 auto !important;
        }

        .mdc-text-field, .mdc-button {
            --mdc-theme-primary: #315270;
            --mdc-theme-on-primary: #FFFFFF;
        }

        input {
            margin-left: 10px;
        }

        #edit_tag_chip_box {
            display: inline;
            position: relative;
            bottom: 45px;
        }
    </style>
    <script>
        $(document).ready(() => {
            let chipList = []

            initField()

            function initField() {
                document.querySelectorAll('.mdc-text-field').forEach(value => {
                    new mdc.textField.MDCTextField(value)
                })
                document.querySelectorAll('.mdc-button').forEach(value => {
                    new mdc.ripple.MDCRipple(value)
                })
                const editField = new Quill('#edit_contents', {
                    modules: {
                        syntax: true,
                        toolbar: [
                            ['bold', 'italic', 'underline'],
                            ['link', 'blockquote', 'code-block', 'image'],
                            [{list: 'ordered'}, {list: 'bullet'}]
                        ]
                    },
                    placeholder: '질문 또는 토론할 내용을 입력해보세요.\n질문 입력시에는 답변에 필요한 모든 정보를 입력해주세요.',
                    theme: 'snow'
                })
                $("#edit_form").submit((event) => {
                    if (event.key === "enter") {
                        event.preventDefault()
                        return false
                    }
                    if (editField.getLength() <= 1) {
                        alert("내용을 입력해주세요.")
                        return false
                    }
                    const contents = document.querySelector('input[name=contents]')
                    contents.value = JSON.stringify(editField.getContents())
                    const tags = document.querySelector('input[name=tag]')
                    tags.value = chipList.toString().replaceAll(",", " ").toUpperCase()
                    return true
                })
                $("#edit_input_tag").keydown((event) => {
                    if (event.key === "Enter")
                        event.preventDefault()
                    if (event.key === "Backspace" && $("#edit_input_tag").val().length === 0) {
                        if (chipList.length > 0) {
                            chipList.pop()
                            drawChip()
                        }
                    }
                })
                $("#edit_input_tag").keyup(function (event) {
                    if (event.key === "Enter" || event.key === " " || event.key === "\,") {
                        let data = $("#edit_input_tag").val()
                            .toUpperCase()
                            .replaceAll(",", "")
                            .replaceAll(" ", "")
                        if (data.length > 0) {
                            chipList.push(data)
                            console.log(chipList.toString().length)
                            if (chipList.toString().length > 64) {
                                alert("더이상 태그를 추가할 수 없습니다.")
                                chipList.pop()
                            } else {
                                drawChip()
                            }
                            $("#edit_input_tag").val("")
                        }
                    }
                })
            }

            function drawChip() {
                let replace = ""
                chipList.forEach(function (data, i, array) {
                    replace += `
<div class="mdc-chip mdc-ripple-upgraded" role="row">
    <span class="mdc-chip__text" tabindex="1">${data}</span>
    <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing" id="edit_chip${i}_button" tabindex="-1" role="button">cancel</i>
</div>
                            `.trim()
                })
                $("#edit_tag_chip_box").html(replace)
                for (let i = 0; i < chipList.length; i++) {
                    $(`#edit_chip${i}_button`).click(() => {
                        deleteChip(i)
                    })
                }
                $("#edit_input_tag").css("margin-left", $("#edit_tag_chip_box").css("width"))
            }

            function deleteChip(index) {
                chipList.splice(index, 1)
                drawChip()
            }
        })
    </script>
</head>
<body>
<header></header>
<aside class="navigation"></aside>
<div class="main_contents">
    <h1 id="edit_question_title">질문 작성 </h1>
    <div class="edit-main-box mdc-elevation--z4">
        <form action="/edit/question/add" id="edit_form" method="post">
            <input name="questionID" type="hidden" value="<%= id %>">
            <input name="viewRange" type="hidden" value="<%= viewRange %>">
            <input name="viewID" type="hidden" value="<%= viewID %>">
            <div class="" id="edit_title_box">
                <h2>제목</h2>
                <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--outlined"
                     id="edit_input_title_box">
                    <span class="mdc-text-field__ripple"></span>
                    <input class="mdc-text-field__input edit-textfield" id="edit_input_title" maxlength="32"
                           minlength="2" name="title" placeholder="구체적으로 제목을 입력하세요." required>
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
            </div>
            <div class="edit-box" id="edit_contents_box">
                <h2>내용</h2>
                <input name="contents" type="hidden">
                <article class="contents" id="edit_contents"></article>
            </div>
            <div class="edit-box" id="edit_tag_box">
                <h2>태그</h2>
                <input name="tag" type="hidden">
                <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--outlined" id="edit_input_tag_box">
                    <span class="mdc-text-field__ripple"></span>
                    <input class="mdc-text-field__input edit-textfield" id="edit_input_tag" maxlength="64"
                           name="tag_tem" placeholder="태그를 입력하세요.">
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
            </div>
            <div class="mdc-chip-set mdc-chip-set--filter" id="edit_tag_chip_box"></div>
            <div class="edit-box fill-box" id="edit_button_box">
                <div class="fill-left"></div>
                <button class="mdc-button mdc-button--unelevated" id="edit_post_button" type="submit">
                    <span class="mdc-button__ripple"></span>
                    게시
                </button>
            </div>
        </form>
    </div>
</div>
<footer></footer>
</body>
</html>