<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/header.js"></script>
</head>
<body>
<header class="mdc-elevation--z4" id="main_header">
    <div class="mdc-drawer-scrim"></div>
    <section class="main_header_general" id="main_header_left_part">
        <!--        네비게이션 메뉴 -->
        <nav class="oneLine leftMargin">
            <button class="material-icons mdc-icon-button"
                    id="main_navigation_menu_icon" role="button" tabindex="0">menu
            </button>
        </nav>
        <!--        메인 로고 -->
        <p class="oneLine leftMargin" id="main_logo">CCM 멘토링 시스템</p>
    </section>
    <section class="main_header_general" id="main_header_right_part">
        <!--        로그인 관련 아이콘 -->
        <div class="oneLine rightMargin" id="login_info">
            <button class="material-icons mdc-icon-button" id="login_login_icon"
                    role="button" tabindex="0">login
            </button>
            <button class="material-icons mdc-icon-button" id="login_logout_icon"
                    role="button" tabindex="0">face
            </button>
        </div>

        <!--        알림 관련 아이콘 -->
        <div class="oneLine rightMargin" id="notification">
            <button class="material-icons mdc-icon-button" id="notification_none_icon"
                    role="button" tabindex="0">notifications_none
            </button>
            <button class="material-icons mdc-icon-button" id="notification_exist_icon"
                    role="button" tabindex="0">notifications
            </button>
        </div>

        <!--        로그인 정보 다이얼로그 -->
        <div class="mdc-dialog">
            <div class="mdc-dialog__container">
                <div aria-describedby="my-dialog-content"
                     aria-labelledby="my-dialog-title"
                     aria-modal="true"
                     class="mdc-dialog__surface"
                     role="alertdialog">
                    <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                    <h2 class="mdc-dialog__title" id="my-dialog-title"><!---->Choose a Ringtone<!----></h2>
                    <div class="mdc-dialog__content" id="my-dialog-content">
                        <ul class="mdc-list mdc-list--avatar-list">
                            <li class="mdc-list-item" data-mdc-dialog-action="none" tabindex="0">
                                <span class="mdc-list-item__text">None</span>
                            </li>
                            <li class="mdc-list-item" data-mdc-dialog-action="callisto">
                                <span class="mdc-list-item__text">Callisto</span>
                            </li>
                            <!-- ... -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
        </div>

        <!--        검색 -->
        <button class="oneLine mdc-icon-button material-icons" id="main_search_icon">search</button>
    </section>
</header>

<header id="main_search_box_header">
    <!--        검색 창 -->
    <div class="mdc-text-field mdc-text-field--with-trailing-icon
     mdc-text-field--filled mdc-elevation--z4" id="main_search_box">
        <input class="mdc-text-field__input" id="main_search_box_input">
        <div class="mdc-line-ripple"></div>
        <label class="mdc-floating-label text_floating_labels_main_color" for="main_search_box_input">사이트내 검색</label>
        <button class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing mdc-icon-button"
                id="main_search_close_icon" role="button" tabindex="0">close
        </button>
    </div>
</header>
<div class="box-form mdc-elevation--z8" id="main_login_card">
            <div class="info_header">
                <img id="user_random_picture">
<!--                <script type="text/javascript">getRandomImage(random_images_array);</script>-->
<!--                <img src = "https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg">-->
                <div id="info_simple_box">
                    <p class="info_font1_style" id="info_simple_name"></p>
                    <p class="info_font2_style" id="info_simple_id"></p>
                </div>
            </div>
                <button class="mdc-button mdc-button--raised button_style">
                    <i class="material-icons mdc-button__icon" aria-hidden="true"
                    >directions_run</i>
                    <span class="mdc-button__ripple"></span>Logout
                </button>
            <button class="mdc-button button_style">
            <i class="material-icons mdc-button__icon" aria-hidden="true"
            >add_circle_outline</i>
            <span class="mdc-button__ripple"></span>프로필 정보</button>
</div>

</body>

</html>