<!DOCTYPE html>
<html>
<head>
    <style>
        #home_contents_box, .home_contents{
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
        }
        #home_contents_box{
            width: 90%;
            margin: auto 5%;
            padding-top: 100px;
        }
        .home_contents{
            width: 100%;
            margin: 1%;
            min-height: 100px;
            font-size: xx-large;
        }
    </style>
</head>
<body>

    <div id="home_contents_box">
        <section class="mdc-elevation--z4 home_contents" id="home_question">질문</section>
        <section class="mdc-elevation--z4 home_contents" id="home_answer">답변</section>
        <section class="mdc-elevation--z4 home_contents" id="home_mentor">멘토</section>
    </div>

</body>
</html>