<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    title -->
    <title>CCM 멘토링 시스템</title>
    <!--    jquery -->
    <script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!--    material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    material components-->
    <link href="node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="node_modules/material-components-web/dist/material-components-web.min.js"></script>

    <link href="stylesheets/main.css" rel="stylesheet">
    <script src="javascripts/main.js"></script>

    <link href="stylesheets/home.css" rel="stylesheet">
    <script src="javascripts/home.js"></script>
</head>
<body>
<header></header>
<aside class="navigation"></aside>
<div class="home-cell-box main_contents mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top home-cell mdc-elevation--z4"
             id ="question_hover">
            <div id="home_question"></div>
            <div id = "question_icon">
                <i class="material-icons home_icon_styles">directions_run</i>
                <p class="home_text_styles">질문 하기</p>
            </div>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle home-cell mdc-elevation--z4"
             id="answer_hover">
            <div id="home_answer"></div>
            <div id = "answer_icon">
                <i class="material-icons home_icon_styles">question_answer</i>
                <p class="home_text_styles">답변 하기</p>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-bottom home-cell mdc-elevation--z4"
             id="mentor_hover">
            <div id="home_mentor"></div>
            <div id = "mentor_icon">
                <i class="material-icons home_icon_styles">groups</i>
                <p class="home_text_styles">멘토 찾기</p>
            </div>
        </div>
    </div>

</div>
<footer></footer>
</body>
</html>