<html>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
        $(document).ready(() => {
            mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));
            mdc.ripple.MDCRipple.attachTo(document.querySelector('.mdc-text-field'))
            //import {MDCTextField} from '@material/textfield';
            //const textField = new MDCTextField();
            const textField = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field'));
            const buttonRipple = new MDCRipple(document.querySelector('.mdc-button'));
            const iconButtonRipple = new MDCRipple(document.querySelector('.mdc-icon-button'));
            iconButtonRipple.unbounded = true;
        })

    </script>
</head>
<body>
<button class="mdc-button foo-button">
    <div class="mdc-button__ripple"></div>
    <span class="mdc-button__label">Button</span>

</button>
<label class="mdc-text-field mdc-text-field--filled">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" id="my-label-id">Hint text</span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
    <span class="mdc-line-ripple"></span>
</label>
<button class="mdc-button mdc-button--raised">
    <span class="mdc-button__label">Contained Button</span>
</button>
<button id="add-to-favorites"
        class="mdc-icon-button"
        aria-label="Add to favorites"
        aria-pressed="false">
    <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
    <i class="material-icons mdc-icon-button__icon">favorite_border</i>
</button>
</body>

</html>