<!DOCTYPE html>
<html>
<head>
    <script src="javascripts/navigation.js"></script>
</head>
<body>
<aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/" tabindex="0">
                <span class="mdc-list-item__ripple"></span>
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">home</i>
                <span class="mdc-list-item__text">홈</span>
            </a>
            <a class="mdc-list-item" href="/edit" tabindex="1">
                <span class="mdc-list-item__ripple"></span>
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">emoji_people</i>
                <span class="mdc-list-item__text">질문 하기</span>
            </a>
            <a class="mdc-list-item" href="/board" tabindex="2">
                <span class="mdc-list-item__ripple"></span>
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">question_answer</i>
                <span class="mdc-list-item__text">답변 하기</span>
            </a>
            <a class="mdc-list-item" href="/mentor" tabindex="3">
                <span class="mdc-list-item__ripple"></span>
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">groups</i>
                <span class="mdc-list-item__text">멘토 찾기</span>
            </a>
        </nav>
    </div>
</aside>
<div class="mdc-drawer-scrim"></div>
</body>
</html>