<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문창</title>
    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="node_modules/quill/dist/quill.core.css" rel="stylesheet">
    <script src="node_modules/quill/dist/quill.core.js"></script>

    <!-- Main Quill library -->
    <script src="node_modules/quill/dist/quill.js"></script>

    <!-- Theme included stylesheets -->
    <link href="node_modules/quill/dist/quill.snow.css" rel="stylesheet">
    <link href="node_modules/quill/dist/quill.bubble.css" rel="stylesheet">

    <script>
        const quill = new Quill('#editor-container', {
            modules: {
                toolbar: [
                    ['bold', 'italic'],
                    ['link', 'blockquote', 'code-block', 'image'],
                    [{list: 'ordered'}, {list: 'bullet'}]
                ]
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'
        });

        const form = document.querySelector('form');
        form.onsubmit = function () {
            // Populate hidden form on submit
            const about = document.querySelector('input[id=about]');
            about.value = JSON.stringify(quill.getContents());

            console.log("Submitted", $(form).serialize(), $(form).serializeArray());

            // No back end to actually submit to!
            alert('Open the console to see the submit data!')
            return false;
        };

    </script>

    <style>
        #form-container {
            width: 500px;
        }

        .row {
            margin-top: 15px;
        }

        .row.form-group {
            padding-left: 15px;
            padding-right: 15px;
        }

        .btn {
            margin-left: 15px;
        }

        #editor-container {
            height: 130px;
        }
    </style>

    <!--    <link href="stylesheets/question.css" rel="stylesheet">-->
    <!--    <script src="javascripts/question.js"></script>-->
    <!--    TODO("질문 게시판 구현 - 질문 등록 파트")-->
</head>
<body>
<div class="container" id="form-container">
    <form>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="question">Title</label>
                    <input class="form-control" id="question" type="text">

                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="about">About me</label>
            <input id="about" type="hidden">
            <div id="editor-container">
                <p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning
                    on Earth.</p>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit">Save Profile</button>
        </div>
    </form>
</div>
</body>
</html>