<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    title -->
    <title>CCM 멘토링 시스템 - 질문</title>
    <!--    jquery -->
    <script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!--    material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    material components -->
    <link href="node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <!--    header and footer -->
    <link href="stylesheets/main.css" rel="stylesheet">
    <script src="javascripts/main.js"></script>

    <!--    custom js and stylesheet -->
    <!--    <link href="stylesheets/.css" rel="stylesheet">-->
    <!--    <script src="javascripts/.js"></script>-->
</head>
<body>
<header></header>
<aside class="navigation"></aside>
<div class="main_contents">
    <h1>질문 상세 내용 표시</h1>
    <h2>기존 내용은 edit.html로 이동</h2>
</div>
<footer></footer>
</body>
</html>