<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    title -->
    <title>팀 목록</title>
    <!--    jquery -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!--    material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    material components -->
    <link href="/node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="/node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <!--    header and footer -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <script src="/javascripts/main.js"></script>

    <!--    custom js and stylesheet -->
    <!--    <link href="/stylesheets/.css" rel="stylesheet">-->
    <!--    <script src="/javascripts/.js"></script>-->
    <script>
        let hasTeam = false
        let page = 0
        let count = 10
        let maxPage = 0

        $(document).ready(() => {
            moveContents()
            calcMaxPage(count).then((result) => {
                maxPage = result
                lastPage(page === maxPage)
            })
            new mdc.dataTable.MDCDataTable(document.querySelector('.mdc-data-table'))
            update(page, count)
            const select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'))
            select.listen('MDCSelect:change', () => {
                page = 0
                count = select.value
                calcMaxPage(count).then((result) => {
                    maxPage = result
                    console.log(maxPage)
                    if (page > maxPage)
                        page = maxPage
                    update(page, count)
                    firstPage(page === 0)
                    lastPage(page === maxPage)
                })
            })

            $(window).resize(() => {
                moveFooter()
                moveContents()
            })

            $("#board_first_button").click(() => {
                page = 0
                firstPage(true)
                lastPage(page === maxPage)
                update(page, count)
            })
            $("#board_minus_button").click(() => {
                if (page > 0) {
                    page--
                } else {
                    alert("첫번째 페이지입니다.")
                }
                firstPage(page === 0)
                lastPage(page === maxPage)
                update(page, count)
            })
            $("#board_last_button").click(() => {
                page = maxPage
                lastPage(true)
                firstPage(page === 0)
                update(page, count)
            })
            $("#board_plus_button").click(() => {
                page++
                firstPage(false)
                update(page, count).then((result) => {
                    if (result === false)
                        page--
                })
                firstPage(page === 0)
                lastPage(page === maxPage)
            })
        })

        $.post(`/mentor/data/user/team`, (body) => {
            const error = body.error
            if (!error) {
                hasTeam = true
                teamID = body.data
            }
        })


        function addTeam(id, name) {
            if (hasTeam) {
                const changeTeam = confirm("이미 가입한 팀이 있습니다.\n 팀을 탈퇴하시겠습니까?")
                if (changeTeam) {
                    $.post(`/mentor/team/drop/${id}`, (body) => {
                        const error = body.error
                        if (!error) {
                            alert(`기존 팀에서 탈퇴되었습니다.\n원하는 팀에 다시 가입신청해보세요.`)
                        } else if (error == "login") {
                            alert("로그인 오류가 발생하였습니다.")
                        } else if (error == "data") {
                            alert("현재 팀 시스템에 접근할 수 없습니다.")
                        } else if (error == "mentor") {
                            const isDelete = confirm("팀의 멘토입니다.\n팀을 삭제하시겠습니까?")
                            if (isDelete) {
                                $.post(`/mentor/team/delete/${id}`, (body) => {
                                    const error = body.error
                                    if (!error) {
                                        alert("팀이 삭제되었습니다.")
                                    } else {
                                        alert("팀을 삭제할 수 없습니다.")
                                    }
                                })
                            }
                        }
                    })
                }
            } else {
                const isAdd = confirm(`${name}에 가입하시겠습니까?`)
                if (isAdd) {
                    $.post(`/mentor/team/join/${id}`, (body) => {
                        const error = body.error
                        if (!error) {
                            alert(`${name}에 가입되었습니다.`)
                        } else if (error == "login") {
                            alert("로그인하셔야 팀에 가입하실 수 있습니다.")
                        } else if (error == "data") {
                            alert("현재 팀 시스템에 접근할 수 없습니다.")
                        }
                    })
                }
            }
        }

        function update(page, count) {
            return new Promise(function (resolve, reject) {
                $.post(`/mentor/data/team/${page}/${count}`, (body) => {
                    const err = body.error
                    const list = body.list
                    if (err) {
                        console.log(err)
                        reject(err)
                        return
                    }
                    if (list.length === 0) {
                        if (page !== 0) {
                            alert("마지막 페이지 입니다.")
                            lastPage(true)
                            resolve(false)
                        } else {
                            $('#board_data_table_contents').html(`
                                <tr class="mdc-data-table__row">
                                <th class='mdc-data-table__cell'>저장된 데이터가 없습니다.</th>
                                </tr>`.trim())
                        }
                    } else {
                        let contents = ""
                        for (const data of list) {
                            contents += `
                                <tr class="mdc-data-table__row" onclick="addTeam('${data.id}', '${data.name}')">
                                <th class="mdc-data-table__cell" scope="row">${data.name}</th>
                                <td class="mdc-data-table__cell">${data.mentorName}</td>
                                <td class="mdc-data-table__cell">${data.tag}</td>
                                </tr>
                                `.trim()
                        }
                        $('#board_data_table_contents').html(contents)
                        $('#board_page_text').text(`${page + 1} 페이지`)
                        moveFooter()
                        resolve(true)
                    }
                })
            })
        }

        function calcMaxPage(count) {
            return new Promise(function (resolve, reject) {
                $.post(`/mentor/team/count`, (body) => {
                    if (body.error) reject(error)
                    else {
                        const data = parseInt(body.data, 10)
                        resolve(Math.ceil(data / count) - 1)
                    }
                })
            })
        }

        function lastPage(state) {
            $("#board_last_button").attr('disabled', state)
            $("#board_plus_button").attr('disabled', state)
        }

        function firstPage(state) {
            $("#board_first_button").attr('disabled', state)
            $("#board_minus_button").attr('disabled', state)
        }

        function moveFooter() {
            if ($(window).height() < $(document).height()) {
                $("footer").css("position", "static")
            } else {
                $("footer").css("position", "fixed")
            }
        }

        function moveContents() {
            const width = $(window).width()
            if (width < 850) {
                $(".main_contents").css("width", "100%")
                $(".main_contents").css("left", "0")
            } else if (width < 1300) {
                $(".main_contents").css("width", "80%")
                $(".main_contents").css("left", "10%")
            } else {
                $(".main_contents").css("width", "70%")
                $(".main_contents").css("left", "15%")
            }
        }
    </script>
    <style>
        .main_contents {
            position: relative;
            display: block;
            width: 70%;
            left: 15%;
        }

        .mdc-data-table {
            width: 100%;
            margin-bottom: 50px;
        }

        .team_header {
            margin-top: 16px;
            margin-bottom: 32px;
        }
    </style>
</head>
<body>
<header></header>
<aside class="navigation"></aside>
<div class="main_contents">
    <div class="team_header">
        <h1>팀 목록</h1>
    </div>
    <div class="mdc-data-table">
        <div class="mdc-data-table__table-container">
            <table aria-label="mentor-team-board" class="mdc-data-table__table">
                <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">이름</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">멘토</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">태그</th>
                </tr>
                </thead>
                <tbody class="mdc-data-table__content" id="board_data_table_contents">
                <!--                여기에 표 데이터 삽입 -->
                </tbody>
            </table>
        </div>

        <div class="mdc-data-table__pagination">
            <div class="mdc-data-table__pagination-trailing">
                <div class="mdc-data-table__pagination-rows-per-page">
                    <div class="mdc-data-table__pagination-rows-per-page-label">
                        페이지당 표시할 팀 갯수
                    </div>

                    <div class="mdc-select mdc-select--outlined mdc-select--no-label mdc-data-table__pagination-rows-per-page-select">
                        <div aria-haspopup="listbox" aria-labelledby="demo-pagination-select" class="mdc-select__anchor"
                             role="button" tabindex="0">
                            <span class="mdc-select__selected-text" id="demo-pagination-select">10</span>
                            <span class="mdc-select__dropdown-icon">
              <svg
                      class="mdc-select__dropdown-icon-graphic"
                      viewBox="7 10 10 5">
                <polygon
                        class="mdc-select__dropdown-icon-inactive"
                        fill-rule="evenodd"
                        points="7 10 12 15 17 10"
                        stroke="none">
                </polygon>
                <polygon
                        class="mdc-select__dropdown-icon-active"
                        fill-rule="evenodd"
                        points="7 15 12 10 17 15"
                        stroke="none">
                </polygon>
              </svg>
            </span>
                            <span class="mdc-notched-outline mdc-notched-outline--notched">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
                        </div>

                        <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth"
                             role="listbox">
                            <ul class="mdc-list">
                                <li aria-selected="true" class="mdc-list-item mdc-list-item--selected" data-value="10"
                                    role="option">
                                    <span class="mdc-list-item__text">10</span>
                                </li>
                                <li class="mdc-list-item" data-value="20" role="option">
                                    <span class="mdc-list-item__text">20</span>
                                </li>
                                <li class="mdc-list-item" data-value="30" role="option">
                                    <span class="mdc-list-item__text">30</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mdc-data-table__pagination-navigation">
                    <div class="mdc-data-table__pagination-total" id="board_page_text">
                        1 페이지
                    </div>
                    <button class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-first-page="true" disabled id="board_first_button">
                        <div class="mdc-button__icon">first_page</div>
                    </button>
                    <button class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-prev-page="true" disabled id="board_minus_button">
                        <div class="mdc-button__icon">chevron_left</div>
                    </button>
                    <button class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-next-page="true" id="board_plus_button">
                        <div class="mdc-button__icon">chevron_right</div>
                    </button>
                    <button class="mdc-icon-button material-icons mdc-data-table__pagination-button"
                            data-last-page="true" id="board_last_button">
                        <div class="mdc-button__icon">last_page</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
</body>
</html>