<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    title -->
    <title>페이지 제목</title>
    <!--    jquery -->
    <script src="node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!--    material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    material components -->
    <link href="node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <!--    header and footer -->
    <link href="stylesheets/main.css" rel="stylesheet">
    <script src="javascripts/main.js"></script>

    <!--    custom js and stylesheet -->
    <!--    <link href="stylesheets/.css" rel="stylesheet">-->
    <!--    <script src="javascripts/.js"></script>-->
</head>
<body>
<header></header>
<aside class="navigation"></aside>
<!--    여기에 내용을 추가  -->
<div class="main_contents"></div>
<footer></footer>
</body>
</html>