.main_contents {
    position: relative;
    display: block;
    width: 90%;
    left: 5%;
}

.mdc-data-table {
    width: 100%;
    margin-bottom: 50px;
}

h1 {
    display: inline-flex;
    position: relative;
    top: 20px;
}

.button-wrap {
    border-radius: 30px;
    width: 220px;
    padding: 5px 5px;
    margin-left: auto;
    position: relative;
    bottom: 25px;
}

.list_type_buttons {
    --mdc-theme-primary: #315270;
    --mdc-theme-on-primary: #FFFFFF;
    width: 100px;
    border-radius: 30px;
    margin: 3px;
}