#login_contents_box {
    min-height: 500px;
    text-align: center;
    background-image: url("/images/login_background_picture.jpg");
    background-position: center;
    background-size: cover;
}

.box-form {
    width: 400px;
    height: 540px;
    position: absolute;
    margin: 6% auto;
    padding: 5px;
    background-color: white;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
}

.button-wrap {
    border-radius: 30px;
    width: 220px;
    margin: 35px auto;
    padding: 5px 5px;
}

.login_type {
    width: 100px;
    border-radius: 30px;
}


.login_labels {
    margin: 20px auto;
    width: 330px;
    --mdc-theme-primary: #315270;
}

.login_signin_type_text {
    margin-top: 10px;
    alignment-baseline: bottom;
}

.button-container {
    min-width: 300px;
    margin: auto;
}

.button-container button {
    margin: 3px;
}

.login_buttons {
    --mdc-theme-primary: #315270;
    --mdc-theme-on-primary: #FFFFFF;
}