* {
    margin: 0;
}

.oneLine {
    display: inline-flex;
}

#main_header, footer {
    box-sizing: border-box;
    background-color: #315270;
    color: white;
    width: 100%;
    padding: 5px;
}

#main_header, #main_search_box_header {
    width: 100%;
    height: 60px;
    margin: auto;
}

#main_search_box {
    width: 100%;
    --mdc-theme-primary: #315270;
}

.text_floating_labels_main_color {
    color: #315270 !important;
}

#main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftMargin {
    margin-left: 2px;
}

.rightMargin {
    margin-right: 2px;
}

#main_logo {
    font-size: x-large;
}

#main_contents {
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
}

.mdc-drawer {
    color: black;
}

#main_login_card {
    position: absolute;
    top: 50px;
    right: 110px;
    background:white;
    border-radius: 3px;
    width: 300px;
    padding:10px;
    z-index: 5;
}

.button_style {
    width: 100%;
    margin-top: 5px;
    --mdc-theme-primary: #315270;
    --mdc-theme-on-primary: #FFFFFF;
    /*border-radius: 5px;*/
}

.info_header {
    display: inline-flex;
}

.info_header img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.info_font1_style {
    clear: both;
    font-size: x-large;
    font-weight: bold;
}

.info_font2_style {
    margin-top: 2px;
}

#info_simple_box {
    margin-left: 16px;
    margin-top: 24px;
}

.fill-box {
    display: flex;
}

.fill-left {
    flex: 1 auto !important;
}