
.mentor_card {
    width: 100px;
}

.container {
    display : grid;
    align-items: stretch;
    row-gap: 10px;
    /* row의 간격을 10px로 */
    column-gap: 20px;
    /* column의 간격을 20px로 */
    grid-template-rows: repeat(3, minmax(100px, auto));
}
